{% extends 'includes/skeleton.html' %}
{% load static %}

{% block 'content' %}
<div class="w-screen h-screen bg-blue-950">
   <img class="w-full h-full" src="{% static 'background.png' %}" alt="Hi!" />
   <a href="{% url 'home' %}" class="absolute text-4xl font-semibold px-10 py-5 top-0 text-white">Unieventos</a>
   <div class="absolute text-4xl flex flex-col gap-8 font-semibold p-5 top-1/4 w-full text-white">
      <p class="text-center text-7xl">Encontre ou crie agora o seu <br>evento!</p>
      <p class="text-center text-2xl font-normal">Junte-se à nós para criar diferentes jeitos de viver, com soluções<br>
         completas para
         a publicação, gestão, venda e entrega das suas <br>produções.</p>
      <div class="flex flex-row gap-5 justify-center align-middle">
         <a href="{% url 'login' %}"
            class="py-5 px-10 text-center bg-blue-900 hover:bg-blue-800 text-white rounded-full text-2xl">Crie
            seu
            evento</a>
         <a href="{% url 'eventos' %}"
            class="py-5 px-10 text-center bg-blue-900 hover:bg-blue-800 text-white rounded-full text-2xl">Encontre o seu
            evento</a>
      </div>
   </div>
</div>
{% endblock %}