<!doctype html>
<html>

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com"></script> <!-- CDN Tailwind -->
   <script src="https://kit.fontawesome.com/db879a6497.js" crossorigin="anonymous"></script> <!-- CDN Fontawesome -->
</head>

<body class="min-h-screen bg-neutral-50">
   {% block 'content' %}{% endblock %}
</body>
<footer class="bg-neutral-800 text-center text-white px-10 py-5">© 2023 UniEventos. Todos os
   direitos reservados. Desenvolvido com Django pelos integrantes de Unimetrocamp Wyden.</footer>

</html>